p, li {
    font-family: 'Share Tech Mono', monospace;
}

li {
    list-style-type: square;
    font-size: 18px;
}

.programming-showcase img {
    max-width: 60%;
    height: auto;
}

.showcase-image {
    max-width: 70%;
    height: auto;
}