$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.banner {
  width: 100%;
  background-color: grey;
  padding: 0;
  margin: 0;
  border: 0;
}

.nav {
  width: 100%;
  background-color: rgb(81, 81, 81);
  padding: 0;
  margin: 0;
  border: 0;
}

.nav ul a {
  text-decoration: none;
  color: white;
  display: inline-block;
  border: 1em;
  border-top: 2em;
  border-bottom: 2em;
  padding: 1em;
}

.nav ul a:visited {
  color: white;
}

.banner h1, .nav ul {
  padding: 0;
  margin: 0;
  border: 0;
}