@font-face {
  font-family: "Simplifica";
  src: url("../fonts/simplifica/SIMPLIFICA Typeface.ttf");
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  height: 100%;
  width: 100%;
  margin: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
}

/* row-col-flex is a row on big screens and a column on small screens */
.row-col-flex {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 480px) {
  .row-col-flex {
    display: flex;
    flex-direction: column;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* banners */

.banner {
  width: 100%;
  background-color: rgb(181, 181, 181);
  padding: 0;
  margin: 0;
  border: 0;
}

.banner h1 {
  color: rgb(81, 81, 81);
  font-family: 'Simplifica', 'Bellota Text', 'Helvetica', sans-serif;
  font-size: 48px;
  border-style: hidden;
  border-width: 2px 0;
  padding: 0.4% 0.3%;
  margin: 0 0 0 1.1%;
}

.banner h1 a {
  text-decoration: none;
  color: rgb(81, 81, 81);
}

.banner h1 a:visited {
  color: rgb(81, 81, 81);
}

/* nav */

.nav {
  font-family: 'Simplifica', 'Bellota Text', 'Helvetica', sans-serif;
  font-size: 28px;
  width: 100%;
  background-color: rgb(81, 81, 81);
  padding: 0;
  margin: 0;
  border: 0;
  overflow: visible;
}

.nav ul {
  padding: 0;
  margin: 0;
  border: 0;
}

.nav ul a {
  text-decoration: none;
  color: rgb(184, 181, 181);
  display: inline-block;
  padding: 0.3%;
  margin: 0.25em 0 0.25em 1.1%;
}

.nav ul a:visited {
  color: rgb(181, 181, 181);
}

/* main */

main {
  padding: 0.3%;
  margin: 0 1.1%;
}

main h3 {
  font-family: 'Bellota Text', 'Arial Narrow';
  font-size: 24px;
}

main a {
  text-decoration: none;
  color: $blueLink;
  display: inline-block;
}

main a:visited {
  color: $blueLink;
}

main a:hover {
  color: $goldSplash;
}

/* text block */

.text-block p {
  font-family:  'Bellota Text', 'Arial Narrow';
  font-size: 20px;
}

.text-block hr {
  margin: 30px 0;
}

#intro-block {
  padding: 2%;
}

@media screen and (min-width: 480px) {
  #intro-block {
    max-width: 30%;
  }
}

/* images */

.wide-img {
  width: 100%;
}

.round-img {
  border-radius: 50%;
}

#profile-img {
  max-width: 432px;
  max-height: 576px;
  padding: 2%;
}

/* profile image only round on large screens */

@media screen and (min-width: 480px) {
  #profile-img {
    border-radius: 50%;
  }
}