#showcases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#showcases a {
    text-decoration: none;
}

.writing-showcase a {
    color: $blueLink;
}

.writing-showcase a:visited {
    color: $blueLink;
}

.writing-showcase a:hover {
    color: $goldSplash;
}

.programming-showcase a {
    color: $darkGreenLink;
}

.programming-showcase a:visited {
    color: $darkGreenLink;
}

.programming-showcase a:hover {
    color: $goldSplash;
}

.writing-showcase, .programming-showcase, .blog-showcase {
    max-width: 100%;
}

.writing-showcase, .programming-showcase {
    width: 25%;
    min-width: 350px;
    display: flex;
    margin: 2% 10px;
    background-color: rgb(184, 181, 181);
    border-radius: 4px;
}

.writing-showcase .text, .programming-showcase .text, .blog-showcase .text {
    margin: 0.5em;
    min-width: 100px;
}

.writing-showcase .text p, .programming-showcase .text p, .blog-showcase .text p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.programming-showcase img {
    min-width: 200px;
    max-width: 300px;
    min-height: 100px;
    max-height: 250px;
    border-radius: 2px;
    margin:0.7em 0.3em;
    object-fit: cover;
}

.writing-showcase h3, .programming-showcase h3 {
    font-weight: bold;
}

.blog-showcases {
    flex-direction: column;
}

@media screen and (min-width: 480px) {
    .blog-showcases {
        max-width: 23%;
    }
  }

.blog-showcase {
    border: 2px;
    border-style: solid;
    border-color: rgb(184, 181, 181);
    border-radius: 4px;
    margin: 3% 0;
}