p {
    font-family: 'Roboto Mono', monospace;
}

.writing-showcase-content {
    width: 100%;
    white-space: pre;
    /*overflow: hidden;*/
}

.writing-showcase-content p {
    display: inline;
}