<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        <meta charset="utf-8">
        <title>{{ page.title }} - {{ site.title }}</title>
        {% include default-head.html %}
    </head>
    
    <body>
        <div class="wrapper">
            {% include banner.html %}

            {% include nav.html %}

            <main>
                <div class="subpage_banner">
                    <!-- <div class="flex-row"> -->
                        <div class="vertical-centre">
                            <a class="back-button" href="/blog">< Back to Blogs</a>
                        
                            <h2>{{ page.blog_header }}</h1>
                        </div>
                    <!-- </div> -->
                    <hr>
                </div>

                {{ content }}

                {% assign cat = page.cat_code %}
                
                <div id="showcases" class="blog-showcases">
                    {% for post in site.categories[cat] %}
                        <div class="blog-showcase">
                            <div class="text">
                                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    
                                <p>{{ post.date | date: "%a, %b %d, %Y" }}</p>
    
                                <p>{{ post.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
            </main>
        </div>
    </body>
</html>
