<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        <meta charset="utf-8">
        <title>{{ page.title }} - {{ site.title }}</title>
        {% include default-head.html %}
    </head>
    <body>
        {% include banner.html %}

        {% include nav.md %}

        <main>
            {{ content }}
        </main>
    </body>
</html>
