---
layout: default
title: Writing
description: My writing portfolio, with links to publications and my thoughts on the writing process; poetry, short stories, and more
custom_css: ['writing', 'showcases']
custom_font: https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap
---

<div class="subpage_banner">
    <h2>Writing</h2>
    <hr>
</div>

<p>On this page you can find links to all of the writing I have published so far</p>

<div id="showcases">
    {% for item in site.writing-showcases %}
        <div class="writing-showcase" id={{ item.title }}>
            <div class="text">
                {% capture path %}/writing/showcases/{{ item.showcase-path }}{% endcapture %}
        
                <h3 id="title"><a href="{{ path }}">{{ item.title }}</a></h3>

                <p id="description"><i>{{ item.title }}</i> {{ item.description }}</p>
                {% if item.first-pub-link != "none" %}
                    <p id="first-pub">First published in <a href="{{ item.first-pub-link }}">{{ item.first-pub-location }}</a> on {{ item.date-string }}</p>
                {% else %}
                    <p>Published on {{ item.date-string }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>