---
layout: default
title: Writing
description: My writing portfolio, with links to publications and my thoughts on the writing process; poetry, short stories, and more
custom_css: showcases
---

{% include writing_content.html %}

<div id="showcases">
    {% for item in site.writing-showcases %}
        <div class="writing-showcase" id={{ item.title }}>
            {% capture path %}/writing/showcases/{{ item.showcase-path }}{% endcapture %}
        
            <h3 id="title"><a href="{{ path }}">{{ item.title }}</a></h3>

            <div class="text">
                <p id="description">{{ item.description }} First published in <a href="{{ item.first-pub-link }}">{{ item.first-pub-location }}</a></p>
            </div>
        </div>
    {% endfor %}
</div>